<h1>Products</h1>
<%= link_to "Back", login_user_buttons_path %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each_slice(3) do |products| %>
    <tr>
      <% products.each do |product| %>
        <td style="padding: 30px">
          <p>Name: <%= product.name %></p>
          <p>Price: $ <%= product.formatted_price %></p>
          <p>Description: <%= product.description %></p>
          <%= form_tag add_to_button_product_path do %>
            <%= hidden_field_tag :product_id, product.id %>
            <%= submit_tag "Tag" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>