<table>
  <tr>
    <th style="width: 300px"></th>
    <th style="width: 100px"></th>
    <th style-"width: 100px"></th>
  </tr>
  <% @cart_items.each do |item| %>
    <tr>
      <td><p><%= item.product.name %></p></td>
      <td><p>$ <%= item.formatted_price %></p></td>
      <td><%= link_to "Remove", cart_item_path(item), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
    <tr><td colspan="2" style="border-top: 1pt black solid"></td></tr>
    <tr>
      <td><p>Subtotal:</p></td>
      <td><p>$ <%= subtotal = calculate(@cart_items, :unit_price) %></p></td>
      <td><p><%= link_to "Remove all", delete_cart_index_path, data: { confirm: "Are you sure?" } %> || <%= link_to "Checkout", checkout_cart_index_path %></p></td>
    </tr>
</table>