<h1>Sign Up</h1>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <h2>Couldn't create user due to <%= pluralize(@user.errors.count, "error") %>:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :email %> <br>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %> <br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirm Password" %> <br>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Create Account" %>

<% end %>
