<h1>User Settings</h1>

<%= link_to "Back", users_path %>

<div>
  <p>Name: <%= @seller.first_name %> <%= @seller.last_name %></p>
</div>

<div>
  <p>Username: <%= @seller.username %></p>
</div>

<div>
  <p>Email: <%= @seller.email %></p>
</div>

<div>
  <p><%= link_to "Delete Account", user_path(@seller), style: "color: red", method: :delete, data: {confirm: 'Are you sure?'} %></p>
</div>