<h1>My Products</h1>

<%= link_to "Back", users_path %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @seller.merchandise.each_slice(3) do |merchandises| %>
    <tr>
      <% merchandises.each do |merchandise| %>
        <td style="padding: 30px">
          <p>Name: <%= merchandise.product %></p>
          <p>Price: $ <%= merchandise.formatted_price %></p>
          <p>Description: <%= merchandise.description %></p>
          <%= link_to "Details", product_path(merchandise) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>