<h1>My Products</h1>

<%= link_to "Back", users_path %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @user.products.each_slice(3) do |products| %>
    <tr>
      <% products.each do |product| %>
        <td style="padding: 30px">
          <p>Name: <%= product.product %></p>
          <p>Price: $ <%= product.formatted_price %></p>
          <p>Description: <%= product.description %></p>
          <%= link_to "Details", product_path(product) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>