<h1>Products</h1>

<%= link_to "New Product", new_product_path %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each_slice(3) do |products| %>
    <tr>
      <% products.each do |product| %>
        <td style="padding: 30px">
          <p>Name: <%= product.name %></p>
          <p>Price: $ <%= product.formatted_price %></p>
          <p>Description: <%= product.description %></p>
          <%= link_to "Go to Product", product_path(product) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
